.bg-main-theme {
    background-color: #EDE7E3;
}

/* Orange button with darker orange tone on hover*/
.btn-orange {
    background-color: #FFA62B !important;
    border-color: #FFA62B !important;
    cursor: pointer;
}

.btn-orange:hover {
    background-color: #c7770b !important;
    border-color: #c7770b !important;
}

/* Orange outline button with orange button fill on hover */
.btn-orange-outline {
    background-color: #fff !important;
    color: #FFA62B !important;
    border-color: #FFA62B !important;
    cursor: pointer;
}

.btn-orange-outline:hover {
    color: black !important;
    background-color: #FFA62B !important;
    border-color: #FFA62B !important;
}

.text-orange {
    color: #FFA62B !important;
}

.bg-orange {
    background-color: #FFA62B !important;
    color: black !important;
}

/* Blue button with darker blue tone on hover */
.btn-dark-blue {
    color: #fff !important;
    background-color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

.btn-dark-blue:hover {
    background-color: #054a58 !important;
    border-color: #054a58 !important;
}

/* Blue outline button with blue button fill on hover */
.btn-dark-blue-outline {
    background-color: #fff !important;
    color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

.btn-dark-blue-outline:hover {
    color: #fff !important;
    background-color: #16697A !important;
    border-color: #16697A !important;
}

/* Mixed button - outline blue without hover, and orange button fill on hover */

.btn-mixed-outline {
    background-color: #fff !important;
    color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

.btn-mixed-outline:hover {
    color: black !important;
    background-color: #FFA62B !important;
    border-color: #FFA62B !important;
}


.bg-dark-blue {
    background-color: #16697A !important;
    color: #fff !important;
}

.bg-darker-blue {
    background-color: #0e5a6a !important;
    color: #fff !important;
}

/* Not used yet - may be useful for custom checkboxes*/
/*.custom-control-label::before,*/
/*.custom-control-label::after {*/
/*    width: 2rem;*/
/*    height: 2rem;*/
/*}*/

/*.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {*/
/*    background-color: #FFA62B;*/
/*}*/


/*Custom scrollbar orange*/
.custom-scrollbar-orange {
    height: 200px;
    overflow-y: scroll;
}

.custom-scrollbar-orange::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar-orange::-webkit-scrollbar-track {
    background: #eee;
}

.custom-scrollbar-orange::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #e5b062;
    background-image: linear-gradient(to top, #e5b062 0%, #ef8a01 100%);
}


/*Custom scrollbar blue*/

.custom-scrollbar-blue {
    height: 200px;
    overflow-y: scroll;
}

.custom-scrollbar-blue::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar-blue::-webkit-scrollbar-track {
    background: #eee;
}

.custom-scrollbar-blue::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #16697A;
    background-image: linear-gradient(to top, #529ead 0%, #055768 100%);
}

/*Custom style for select 2 plugin*/
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #16697A !important;
    color: white;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #FFA62B !important;
    color: black;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

/*Styling input-group-append div to display orange star marked for required fields */

.required-field {
    background-color: transparent;

    color: #FFA62B !important;
    -webkit-transform: translateX(-10px) translateY(-10px);
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
}

/*styling invalid feedback div*/
.invalid-feedback {
    background-color: transparent;
    color: #0e5a6a;
}
