/* 1 - Main composition*/
body {
    background-color: #EDE7E3;
}


main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    /*overflow:auto;*/
    /*padding-bottom: 10px;*/
    min-height: calc(100vh - 76px - 68px);
}

footer {
    text-align: center;
    background-color: #16697A;
    padding: 6px;
}


* {
    margin: 0;
    padding: 0;
}


/* 2 - Navbar*/
#mainNavbar {
    background-color: #16697A;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
    top: 50px
}

.navbar-brand {
    color: #12272B;

}

.nav-link {
    color: #FFA62B;
    font-size: 1.5em;
}

/*Search*/
#searching {
    display: inline;
    text-align: center;
}

/*Search Button*/
.btn-custom {
    background-color: #FFA62B;
}

/*Search Bar*/
.form-control {
    background-color: #EDE7E3;
}

/*DropDown items*/
.dropdown-menu {
    background-color: #EDE7E3;
}

/* 3 - Main*/
.chart img {
    padding: 30px 0px;
}

main div {
    color: #12272B;
}

/* 4 - Main - Flats*/
.row-border {
    outline: 2px solid #12272B;
    margin-bottom: 20px;
    box-shadow: 0 8px 6px -6px black;
}

.row-border figure {
    margin: 0px;
}

.infoP {
    font-weight: bold;
    margin-bottom: 0;
}

.additional {
    margin-top: 42px;
}

.toHide {
    display: none;
}

.em {
    color: #12272B;
    display: inline-block;
}

.flats-header {
    text-shadow: 1px 1px #12272b;;
}

/*ADD FLAT*/

.labelForForm {
    font-family: sans-serif;
    margin-left: 60px;
}

.input-group-addon {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.form-control input {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.control-label {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.containerDiv {
    border-style: solid;
    border-width: 5px;
    border: #1c7430;
}

.sec {
    position: absolute;
    height: auto;
}

.select2-selection {
    color: #16697A !important;
    border-color: #16697A !important;
    width: 100%;
    cursor: pointer;
}

.select2-selection:hover {
    width: 100%;
    color: #16697A !important;
    border-color: #16697A !important;
}

.select2-selection input {
    width: 100%;
    color: #16697A !important;
    border-color: #16697A !important;

}

.forInputSelect:hover {
    color: #16697A !important;
    border-color: #16697A !important;
}

/*ARROW IN SELECT2 multiple*/
.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}


.custom-file-label:hover {
    background-color: #16697A !important;
    color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

.custom-file-label {
    background-color: #fff !important;
    color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

.custom-file-input:hover {
    background-color: #16697A !important;
    color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

#roompicpic {
    color: transparent;
}

.btn-dark-blue-outline:hover {
    background-color: #054a58 !important;
    border-color: #054a58 !important;
}

.btn-dark-blue-outline {
    background-color: #fff !important;
    color: #16697A !important;
    border-color: #16697A !important;
    cursor: pointer;
}

.doubleStyle:hover {
    background-color: #054a58 !important;
}

.select2-selection__choice {
    line-height: 25px;
    padding: 0px;
    margin: 0px;
}

.select2-selection {
    height: 2.4em;
    alignment: center;
}

/*ROOMS*/
.modalH5 {
    text-align: left!important;
    margin-bottom: 1px;
}


.select2-selection select2-selection--single {
    width: 200px;
    text-align: left!important;
}

.js-example-basic {
    width: 230px;
    text-align: left!important;
}


#rowAddFlatTable {
    vertical-align: center;
    width: auto;
    margin-top: 20px;
    text-align: center;
    min-height: 380px;
}
#rowShowClientsTable {
    vertical-align: center;
    width: auto;
    margin-top: 20px;
    text-align: center;
    min-height: 380px;
}

#dataRoomFeed{
    outline: 2px solid rgba(22, 105, 122, 0.5);
    padding: 0px;
    margin-bottom: 10px;
    box-shadow: 0 8px 6px -6px rgba(22, 105, 122, 0.5);
}
.thead-own th{
    background-color: #16697A;
    color: #F7F4F3;
}
.thead-own td{
    background-color: rgba(22, 105, 122, 0.5);
    padding: 0px;
    margin: 0px;
    vertical-align : baseline;
}


.submitFixed {
    bottom: 300px;
    position: fixed;
}


/*STEPS*/
.step {
    height: 15px;
    width: 15px;

    background-color: #16697A;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

.table-row td {
    vertical-align : baseline;

}
/*
.select2-selection select2-selection--single {
    width: 100%;
}

.select2 select2-container select2-container--default select2-container--below select2-container--focus {
    width: 1em;
}
*/




